      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      body {
        font-size: .875rem;
      }

      .feather {
        width: 16px;
        height: 16px;
        vertical-align: text-bottom;
        margin-bottom: 2px;
        margin-right: 2px;

      }



      /*
       * Sidebar
       */
      .sidebar {
        position: fixed;
        top: 0;
        /* rtl:raw:
        right: 0;
        */
        bottom: 0;
        /* rtl:remove */
        left: 0;
        z-index: 100;
        /* Behind the navbar */
        padding: 48px 0 0;
        /* Height of navbar */
        box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
      }

      @media (max-width: 767.98px) {
        .sidebar {
          top: 5rem;
        }
      }

      .sidebar-sticky {
        position: relative;
        top: 0;
        height: calc(100vh - 48px);
        padding-top: .5rem;
        overflow-x: hidden;
        overflow-y: auto;
        /* Scrollable contents if viewport is shorter than content. */
      }

      .sidebar .nav-link {
        font-weight: 500;
        color: #333;
      }

      .sidebar .nav-link .feather {
        margin-right: 4px;
        color: #727272;
      }

      .sidebar .nav-link.active {
        color: #007bff;
      }

      .sidebar .nav-link:hover .feather,
      .sidebar .nav-link.active .feather {
        color: inherit;
      }

      .sidebar-heading {
        font-size: .75rem;
        text-transform: uppercase;
      }

      /*
       * Navbar
       */
      .navbar-brand {
        padding-top: .75rem;
        padding-bottom: .75rem;
        font-size: 1rem;
        background-color: rgba(0, 0, 0, .25);
        box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
      }

      .navbar .navbar-toggler {
        top: .25rem;
        right: 1rem;
      }

      .navbar .form-control {
        padding: .75rem 1rem;
        border-width: 0;
        border-radius: 0;
      }

      .form-control-dark {
        color: #fff;
        background-color: rgba(255, 255, 255, .1);
        border-color: rgba(255, 255, 255, .1);
      }

      .form-control-dark:focus {
        border-color: transparent;
        box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
      }


      /* SEARCH_BAR */
      .search-country{
        width: 100%;
      }

      .hide{
          display: none;
      }

      .country-list{
          z-index: 1001;
          position: absolute;
          top: 47px;
          width: 83.333333%;
          height: 300px;

          background-color: #111;
          opacity: 0.9;

          overflow-y: scroll;
      }
      @media (max-width: 767.98px) {
      .country-list{
        top:96px;
        width:100%;
        z-index: 1001;
        position: absolute;
        height: 300px;
        background-color: #111;
        opacity: 0.9;
        overflow-y: scroll;
      }
    }

      .country-list ul{
          width: 100%;
      }

      .country-list ul li{
          list-style: none;
          cursor: pointer;
          padding: 10px;
          color: #FFF;
      }
      .country-list ul li:hover{
          border-left: 1px solid #FFF;
      }
      /* SCROLL BAR */
      .country-list::-webkit-scrollbar {
          width: 10px;
        }

        /* Track */
        .country-list::-webkit-scrollbar-track {
          background: #111;
        }

        /* Handle */
        .country-list::-webkit-scrollbar-thumb {
          background: #F1F1F1;
        }

        /* Handle on hover */
        .country-list::-webkit-scrollbar-thumb:hover {
          background: #FFF;
        }


/* STATS */

.stats{
  margin:0 !important;
}
.latest-report{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 80%;
    margin: 0 auto;
    padding-top: 50px;

    color: #000;
}

.country,
.total-cases,
.recovered,
.deaths{
    height: 100px;
}

.name{
    font-size: 2.2em;
    color: #000;
    font-weight: bold;
}

.title{
    font-size: 1.3em;
}
.total-cases .value{
    font-size: 2em;
    font-weight: bold;
    color: #FFC107;
}
.recovered .value{
    font-size: 2em;
    font-weight: bold;
    color: #28A745;
}
.deaths .value{
    font-size: 2em;
    font-weight: bold;
    color: #DC3545;
}
.new-value{
    font-size: 1.3em;
}

/* CHARTS */
#myChart{
  margin: 0 !important;
}

.chart{
    width: 80%;
    height: 65vh;
    min-height: 500px;

    margin: 0 auto;
    padding: 50px 0;
}
